<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="static/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    </head>


    <body class="pag-cardapio">
        <div class="area-principal">


            <div class="cabecalho"> 
                <h2>Nosso Cardápio</h2>
            </div>

            <div class="conteudo">
    <section class="cardapio-lista">

        <div class="categoria">
            <h3>Bebidas</h3>
        </div>

        <div class="item-cardapio">
            <span>1 - Café Tradicional</span>
            <span>R$ 6,00</span>
        </div>

        <div class="item-cardapio">
            <span>2 - Café Extraforte</span>
            <span>R$ 5,00</span>
        </div>

        <div class="item-cardapio">
            <span>3 - Refrigerantes (500 mL)</span>
            <span>R$ 10,00</span>
        </div>

        <div class="item-cardapio">
            <span>4 - Café Expresso</span>
            <span>R$ 8,00</span>
        </div>

        <div class="item-cardapio">
            <span>5 - Cappuccino</span>
            <span>R$ 9,00</span>
        </div>

        <div class="item-cardapio">
            <span>6 - Macchiato</span>
            <span>R$ 13,00</span>
        </div>

        <div class="item-cardapio">
            <span>7 - Latte</span>
            <span>R$ 13,00</span>
        </div>

        <div class="item-cardapio">
            <span>8 - Affogato</span>
            <span>R$ 26,00</span>
        </div>

        <div class="item-cardapio">
            <span>9 - Café com Leite</span>
            <span>R$ 7,00</span>
        </div>

        <div class="item-cardapio">
            <span>10 - Iced Latte</span>
            <span>R$ 8,50</span>
        </div>

        <div class="item-cardapio">
            <span>11 - Mocha</span>
            <span>R$ 8,00</span>
        </div>

        <div class="item-cardapio">
            <span>12 - Sucos Naturais</span>
            <span>R$ 10,00</span>
        </div>

        <div class="item-cardapio">
            <span>13 - Chás e Infusões</span>
            <span>R$ 5,00</span>
        </div>

        <div class="item-cardapio">
            <span>14 - Chocolate Quente</span>
            <span>R$ 7,00</span>
        </div>

        <div class="categoria">
            <h3>Salgados</h3>
        </div>

        <div class="item-cardapio">
            <span>15 - Pão de Queijo</span>
            <span>R$ 4,00</span>
        </div>

        <div class="item-cardapio">
            <span>16 - Pão na Chapa</span>
            <span>R$ 6,00</span>
        </div>

        <div class="item-cardapio">
            <span>17 - Croissants</span>
            <span>R$ 12,00</span>
        </div>

        <div class="item-cardapio">
            <span>18 - Quiches</span>
            <span>R$ 20,00</span>
        </div>

        <div class="item-cardapio">
            <span>19 - Empadas</span>
            <span>R$ 10,00</span>
        </div>

        <div class="item-cardapio">
            <span>20 - Sanduíches Naturais</span>
            <span>R$ 5,00</span>
        </div>

        <div class="item-cardapio">
            <span>21 - Sanduíches Tostados</span>
            <span>R$ 5,00</span>
        </div>

        <div class="item-cardapio">
            <span>22 - Sanduíches Quentes</span>
            <span>R$ 5,00</span>
        </div>

        <div class="item-cardapio">
            <span>23 - Coxinhas</span>
            <span>R$ 16,00</span>
        </div>

        <div class="item-cardapio">
            <span>24 - Pastéis</span>
            <span>R$ 17,50</span>
        </div>

        <div class="item-cardapio">
            <span>25 - Croque Monsieur / Croque Madame</span>
            <span>R$ 45,00</span>
        </div>

        <div class="categoria">
            <h3>Sobremesas</h3>
        </div>

        <div class="item-cardapio">
            <span>26 - Fatias de Bolo Caseiro</span>
            <span>R$ 11,00</span>
        </div>

        <div class="item-cardapio">
            <span>27 - Tortas de Frutas</span>
            <span>R$ 20,00</span>
        </div>

        <div class="item-cardapio">
            <span>28 - Cookies</span>
            <span>R$ 18,00</span>
        </div>

        <div class="item-cardapio">
            <span>29 - Brownies</span>
            <span>R$ 16,00</span>
        </div>

        <div class="item-cardapio">
            <span>30 - Muffins</span>
            <span>R$ 16,00</span>
        </div>

        <div class="item-cardapio">
            <span>31 - Pudins</span>
            <span>R$ 16,00</span>
        </div>

        <div class="item-cardapio">
            <span>32 - Bombas de Chocolate</span>
            <span>R$ 10,00</span>
        </div>

        <div class="item-cardapio">
            <span>33 - Macarons</span>
            <span>R$ 8,50</span>
        </div>

        <div class="item-cardapio">
    <span>COMBO1:(MANHÃ CLASSICA) — Café tradicional + Pão de queijo + Escolha entre Pudin, Muffin ou Brownie</span>
    <span>R$ 22,30</span>
</div>

 <div class="item-cardapio">
    <span>COMBO2:(CHOCOLATE SUPREMO) — Chocolate quente + Pão na chapa + Bomba de chocolate</span>
    <span>R$ 19,70</span>
</div>

<div class="item-cardapio">
    <span>COMBO3:(SALGADO & REFRESCO) — Coxinha + Pastéis + Escolha entre Refrigerante ou Sucos naturais</span>
    <span>R$ 36,10</span>
</div>

<div class="item-cardapio">
    <span>COMBO4:(PARIS DOCE GOURMET) — Affogato + Croissants + Pão de queijo + Macarons</span>
    <span>R$ 41,90</span>
</div>

<div class="item-cardapio">
    <span>COMBO5:(LEVE DA TARDE) — Chá e Infusões + Sanduíches Naturais + Tortas de Frutas</span>
    <span>R$ 25,50</span>
</div>

<div class="item-cardapio">
    <span>COMBO6:(CAFÉ BISTRÔ PREMIUM) — Moccha + Quiches + Croque Mounsieur/ Croque Madame + Cookies</span>
    <span>R$ 74,60</span>
</div>

<div class="item-cardapio">
    <span>COMBO7:(ESCOLHA PERFEITA) — Macchiato ou Latte + Sanduiche Naturais/ Tostados/ Quentes + Bombas de Chocolate </span>
    <span>R$ 24,00</span>
</div>
<div class="item-cardapio">
    <span>COMBO8:(CAFÉ COMPLETO TRADICIONAL) — Café Extraforte + Pão de Queijo + Empadas + Pudim</span>
    <span>R$ 29,75</span>
</div>

<div class="item-cardapio">
    <span>COMBO9:(ENERGIA DO EXPRESSO) — Café Expresso + Pão de Queijo + Pão na Chapa + Bomba de Chocolate</span>
    <span>R$ 24,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO10:(DOCE GELADO SIMPLES) — Iced Latte + Fatia de Bolo Caseiro </span>
    <span>R$ 18,90</span>
</div>

<div class="item-cardapio">
    <span>COMBO11:(COMPLETO DA CASA) — Sucos Naturais + Quiches + Coxinhas + Sanduíches quentes + Tortas de Frutas </span>
    <span>R$ 50,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO12:(EXPERIÊNCIA GOURMET ESPECIAL) — Affogato + Quiches + Croque Monsieu/ Croque Madame + Tortas de Frutas + Extras </span>
    <span>R$ 96,80</span>
</div>

<div class="item-cardapio">
    <span>COMBO13:(FESTA SALGADA DOCE) — Pastéis + Coxinhas + Refrigerante + Bombas de Chocolates + Macarons </span>
    <span>R$ 52,40</span>
</div>

<div class="item-cardapio">
    <span>COMBO14:(CROISSANT CHOCOLATE LOVER) — Chocolate Quente + Croissant + Bombas de Chocolates </span>
    <span>R$ 22,35</span>
</div>

<div class="item-cardapio">
    <span>COMBO15:(CAPPUCCINO CASEIRO) — Cappuccino + Fatia de Bolo Caseiro + Cookies </span>
    <span>R$ 29,40</span>
</div>

<div class="item-cardapio">
    <span>COMBO16:(CLÁSSICO QUENTE & DOCE) — Latte + Sanduíche quente + Brownie </span>
    <span>R$ 25,20</span>
</div>

<div class="item-cardapio">
    <span>COMBO17:(PARIS ESSENCIAL) — Affogato + Croissants + Macaron </span>
    <span>R$ 32,75</span>
</div>
        <div class="item-cardapio">
    <span>COMBO18:(NATURAL FRESH) — Sucos naturais + Sanduíches Naturais + Torta de fruta</span>
    <span>R$ 50,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO19:(BISTRÔ TRADICIONAL) — Mocha + Quiches + Empadas + Torta de Frutas</span>
    <span>R$ 43,15</span>
</div>

<div class="item-cardapio">
    <span>COMBO20:(AFFOGATO DELUXE) — Affogato + Croque Monsieur / Croque Madame + Macaron + Bomba de chocolate</span>
    <span>R$ 69,60</span>
</div>

<div class="item-cardapio">
    <span>COMBO21:(CAFÉ & CROISSANT DOCE) — Café Expresso + Croissant + Muffin</span>
    <span>R$ 20,60</span>
</div>

<div class="item-cardapio">
    <span>COMBO22:(LANCHE RÁPIDO PREMIUM) — Macchiato + Sanduíche Tostado + Cookie</span>
    <span>R$ 30,20</span>
</div>

<div class="item-cardapio">
    <span>COMBO23:(CHÁ LEVE GOURMET) — Chá e Infusões + Sanduíches naturais + Macaron</span>
    <span>R$ 26,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO24:(CHOCOLATE INTENSO) — Mocha + Brownie + Bomba de chocolate</span>
    <span>R$ 25,20</span>
</div>

<div class="item-cardapio">
    <span>COMBO25:(CAFÉ COLONIAL DOCE) — Café com leite + Croissant + Torta de fruta</span>
    <span>R$ 23,80</span>
</div>

<div class="item-cardapio">
    <span>COMBO26:(GELADO NATURAL) — Iced Latte + Sanduíche natural + Cookie</span>
    <span>R$ 31,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO27:(???) — </span>
    <span>R$ 02,05</span>
</div>

<div class="item-cardapio">
    <span>COMBO28:(SALGADO COMPLETO) — Refrigerante de 500ML + Coxinha + Empada + Pastéis</span>
    <span>R$ 33,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO29:(CAFÉ DA TARDE SIMPLES) — Café Extraforte + Pão de queijo + Fatia de bolo caseiro</span>
    <span>R$ 14,45</span>
</div>

<div class="item-cardapio">
    <span>COMBO30:(TRADICIONAL DOCE) — Café Tradicional + Torta de fruta + Macaron</span>
    <span>R$ 32,80</span>
</div>

<div class="item-cardapio">
    <span>COMBO31:(CLÁSSICO EUROPEU) — Cappuccino + Quiche + Croque Monsieur / Croque Madame</span>
    <span>R$ 59,20</span>
</div>

<div class="item-cardapio">
    <span>COMBO32:(CAFÉ SIMPLES & CONFORTO) — Café com leite + Pão na chapa + Cookie</span>
    <span>R$ 26,00</span>
</div>

<div class="item-cardapio">
    <span>COMBO33:(CAFÉ DA MANHÃ ESPECIAL) — (Escolha entre Café Tradicional ou Café com leite) + 2 Pães de queijo + 1 Bolo caseiro</span>
    <span>R$ 23,80</span>
</div>

<div class="item-cardapio">
    <span>COMBO34:(CHÁ COM DOCE) — Chá e Infusões + Pão de queijo + Brownie</span>
    <span>R$ 18,70</span>
</div>

    </section>
</div>  

        <div class="menu-inicio">
        <ul>
    <li>
        <a href="{{ url_for('karinto') }}">
            <i class="fa-solid fa-k"></i>
            <span> Começo </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('nos') }}">
            <i class="fa-solid fa-people-roof"></i>
            <span> Nossa história </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('cardapio') }}">
            <i class="fa-solid fa-book"></i>
            <span> Cardápio </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('horarios') }}">
            <i class="fa-solid fa-clock"></i>
            <span> Horários </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('contato') }}">
            <i class="fa-solid fa-phone"></i>
            <span> Contatos </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('localizacao') }}">
            <i class="fa-solid fa-location-dot"></i>
            <span> Localização </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('index') }}">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span> Pesquisa </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('carrinho') }}">
            <i class="fa-solid fa-cart-shopping"></i>
            <span> Carrinho </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('chatbot') }}">
            <i class="fa-regular fa-comment"></i>
            <span> Chatbot </span>
        </a>
    </li>
</ul>
         
        </div>











    </body>


































</html>