<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="static/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    </head>


    <body class="pag-inicial">

        <div class="area-principal">

            <div class="cabecalho"> 
                <h2>Seja bem-vindo à Karintó Coffee</h2> 
            </div>

                <div class="conteudo">

                   
                </div>   

        </div>
<div class="menu-inicio">
        <ul>
    <li>
        <a href="{{ url_for('karinto') }}">
            <i class="fa-solid fa-k"></i>
            <span> Começo </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('nos') }}">
            <i class="fa-solid fa-people-roof"></i>
            <span> Nossa história </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('cardapio') }}">
            <i class="fa-solid fa-book"></i>
            <span> Cardápio </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('horarios') }}">
            <i class="fa-solid fa-clock"></i>
            <span> Horários </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('contato') }}">
            <i class="fa-solid fa-phone"></i>
            <span> Contatos </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('localizacao') }}">
            <i class="fa-solid fa-location-dot"></i>
            <span> Localização </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('index') }}">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span> Pesquisa </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('carrinho') }}">
            <i class="fa-solid fa-cart-shopping"></i>
            <span> Carrinho </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('chatbot') }}">
            <i class="fa-regular fa-comment"></i>
            <span> Chatbot </span>
        </a>
    </li>
</ul>
         
        </div>











    </body>


































</html>