<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="static/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    </head>


    <body class="pag-nos">

        <picture href="c s s/img/fotofundo.png.png"></picture>
        <div class="area-principal">

            <section class="secao-nos">

                <div class="cabecalho"> 
                    <h2>Nossa história</h2> 

                </div>

                <div class="conteudo">

                    <p>
                    
                        A Karintó COFFEE nasceu com o desejo de transformar o simples ato de tomar um café, em uma experiência prazerosa, aconchegante e marcante. 
                        Em meio a sua rotina acelerada do dia a dia, nos surgiu uma ideia de criar um espaço onde você pode ter o tempo que desacelera, onde os encontros ganham um significado 
                        ainda maior e cada detalhe é pensado para os clientes, pensando na qualidade e na sofisticação. 
                    </p> 
                    <p>A cafeteria foi idealizada por nós (os donos) para atender o público que valoriza a experiência, 
                        o ambiente, o atendimento e a sensação que possui dentro do local, não apenas um sabor. Tudo planejado com cuidado para agradar, com cuidado, buscando oferecer o equilíbrio entre a tradição clássica e a modernidade. 
                        Mais do que apenas uma cafeteria, a Karintó COFFEE se compromete a ser um ponto de refúgio, de encontro, seja para uma pausa tranquila, uma conversa entre amigos, família, negócios e até mesmo um momento de inspiração.
                    </p>
                    
                    <p>
                        Cada xícara servida, 
                        cada comida servida carrega um compromisso, com a qualidade e o propósito de tornar o cotidiano mais leve e especial para cada um. Buscando melhorias tecnológicas, mas também respeitando os clientes mais tradicionais, inovando cada dia mais. Nesse caso, 
                        a Karintó COFFEE se prova não ser apenas sobre cafés, mas sim, sobre criar memórias, valorizar os momentos e oferecer uma experiência exclusivamente única para cada cliente. 
                    </p>

                    <p> Do grão ao sorriso e em
                        cada xícara, uma história.
                    </p> 
                    
                </div>
            </section>   

        </div>
<div class="menu-inicio">
        <ul>
    <li>
        <a href="{{ url_for('karinto') }}">
            <i class="fa-solid fa-k"></i>
            <span> Começo </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('nos') }}">
            <i class="fa-solid fa-people-roof"></i>
            <span> Nossa história </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('cardapio') }}">
            <i class="fa-solid fa-book"></i>
            <span> Cardápio </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('horarios') }}">
            <i class="fa-solid fa-clock"></i>
            <span> Horários </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('contato') }}">
            <i class="fa-solid fa-phone"></i>
            <span> Contatos </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('localizacao') }}">
            <i class="fa-solid fa-location-dot"></i>
            <span> Localização </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('index') }}">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span> Pesquisa </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('carrinho') }}">
            <i class="fa-solid fa-cart-shopping"></i>
            <span> Carrinho </span>
        </a>
    </li>

    <li>
        <a href="{{ url_for('chatbot') }}">
            <i class="fa-regular fa-comment"></i>
            <span> Chatbot </span>
        </a>
    </li>
</ul>
         
        </div>











    </body>


































</html>